apiVersion: org.eclipse.che/v2
kind: CheCluster
metadata:
  name: eclipse-che
  namespace: eclipse-che
spec:    
  server:
    customCheProperties:
      CHE_MULTIUSER: "false"
      CHE_OAUTH_ENABLED: "false"
  auth:
    identityProvider: null
  components:
    pluginRegistry:
      disableInternalRegistry: true
    devfileRegistry:
      disableInternalRegistry: true
      externalDevfileRegistries:
        - url: 'https://registry.devfile.io'
  devEnvironments: {}
  networking:
    domain: zoo-che.duckdns.org
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
    auth:
      # identityProviderURL: https://zoo-keycloak.duckdns.org/realms/che
      # oAuthClientName: che-public
      # oAuthSecret: k1b1bIA8RpePp0U69HfzmBtrd9xYlDjN
  containerRegistry: {}
  gitServices: {}
