apiVersion: org.eclipse.che/v2
kind: CheCluster
metadata:
  name: eclipse-che
  namespace: eclipse-che
spec:
  server:
    # Che가 외부에서 접근되는 URL을 정확히 알도록 지정
    cheHost: https://zoo-che.duckdns.org
    # API 외부 URL도 HTTPS로 강제
    cheApiExternal: https://zoo-che.duckdns.org
  components:
    pluginRegistry:
      disableInternalRegistry: true
    devfileRegistry:
      disableInternalRegistry: true
      externalDevfileRegistries:
        - url: 'https://registry.devfile.io'
  devEnvironments: {}
  networking:
    domain: zoo-che.duckdns.org
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
    auth:
      identityProviderURL: https://zoo-keycloak.duckdns.org/realms/che
      oAuthClientName: che-public
      # oAuthSecret: k1b1bIA8RpePp0U69HfzmBtrd9xYlDjN
  containerRegistry: {}
  gitServices: {}
