apiVersion: org.eclipse.che/v2
kind: CheCluster
metadata:
  name: eclipse-che
  namespace: eclipse-che
spec:
  components:
    pluginRegistry:
      disableInternalRegistry: true
    devfileRegistry:
      disableInternalRegistry: true
      externalDevfileRegistries:
        - url: 'https://registry.devfile.io'
  networking:
    domain: zoo-che.duckdns.org  # Che 서버에 접근하기 위한 도메인 이름
    ingress:
      class: nginx            # 클러스터에 설치된 Ingress Controller 클래스
      tlsSecretName: che-tls  # (선택) TLS Secret 이름
  devEnvironments: {}
  # networking: {}
  containerRegistry: {}
  gitServices: {}
